TRADE = BTC
CURRENCY = AEON

TF = 1
# Timeframe defined in minutes: 1, 5, 30, 60, 3600

MEAN = 8
# Amount of periods used for rolling mean

BREAKOUT = True
# True if you want the algo to do momentum trades

RTM = True
# True if you want the algo to trade reversion to the mean.

RTM_PERCENT = 1.0
# Percent that price has to move below the mean to trigger a long signal.

BO_PERCENT = 1.0
# Percent that price has to break above the mean to trigger a long signal.

EXIT_PERCENT = 1.0
# the percent gain per trade to set sell LIMIT

QUANTITY = 1
# The amount of coins / currency per trade

BTC_QUANTITY = 0.005
# if True QUANTITY will be BTC and the currency amount will be calculated

# BALANCE_PERC_QUANTITY = 0.0
# if not zero then the alue will be used as a percent of balance that willl be used for trading
# The percentage of the balance will be used to calculate the (currency) QUANTITY to buy.

UPPER_SIGNAL_BOUND = 1.0
# the percent the price can be higher then the BO_PERCENT to still be valid as a signal

LOWER_SIGNAL_BOUND = 1.0
# the percent the price can be lower then the RTM_PERCENT to still be valid as a signal


UPPER_BUY_BOUND = 1.0
# the percent that you are willing to pay more to buy immediately from the orderbook

LOWER_BUY_BOUND = 5.0
# the percent that you are willing to pay less to buy immediately from the orderbook


UPPER_SELL_BOUND = 1.0
# the percent that you are willing to pay more to buy immediately from the orderbook

LOWER_SELL_BOUND = 1.0
# the percent that you are willing to pay less to buy immediately from the orderbook

FEE = 0.25
# the percent of fee per leg you will be paying

STOP_PERC = 5.0
# percentage that price can close below in order to trigger an exit
