
                                TRADE = BTC
                                CURRENCY = STRAT
                                TF = 5
                                MEAN = 20
                                BREAKOUT = True
                                RTM = True
                                RTM_PERCENT = 2.0
                                BO_PERCENT = 1.0
                                EXIT_PERCENT = 5.0
                                QUANTITY = 1
                                BTC_QUANTITY = 0.001
                                LOWER_SIGNAL_BOUND = 1.0
                                UPPER_SIGNAL_BOUND = 1.0
                                UPPER_BUY_BOUND = 1.0
                                LOWER_BUY_BOUND = 5.0
                                UPPER_SELL_BOUND = 5.0
                                LOWER_SELL_BOUND = 1.0
                                FEE = 0.25
                                STOP_PERC = 5.0
