
                                    TRADE = BTC
                                    CURRENCY = ETH
                                    TF = 30
                                    MEAN = 20
                                    BREAKOUT = True
                                    RTM = True
                                    RTM_PERCENT = 5.0
                                    BO_PERCENT = 3.0
                                    EXIT_PERCENT = 1.0
                                    QUANTITY = 1
                                    LOWER_SIGNAL_BOUND = 1.0
                                    UPPER_SIGNAL_BOUND = 1.0
                                    UPPER_BUY_BOUND = 1.0
                                    LOWER_BUY_BOUND = 5.0
                                    FEE = 0.25
                                    